In [1]:
import pandas as pd
training =pd.read_excel('Training.xlsx')
training.drop(columns =['year'], inplace = True)


X['Product_Sitewide']=0
X['Product_Skin Care']=0

,Unnamed: 0,Week,Promotion,retailer_adidas,retailer_bestbuy,retailer_bloomingdales,retailer_calvin-klein,retailer_costco,retailer_express,retailer_gap,...,Product_Eyes Makeup,Product_Headphones and Speakers,Product_Lips,Product_Makeup,Product_Outerwear,Product_Shoes,Product_Skin Makeup,Product_TV,Product_Tops,Product_Underwear
0,0,19,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,20,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,21,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,22,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,23,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41297,41297,13,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
41298,41298,14,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
41299,41299,15,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
41300,41300,16,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
41301,41301,17,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [2]:
from sklearn.linear_model import LogisticRegression
y=training ['Promotion']
X=training 
X.drop(columns =['Promotion'], inplace = True)
clf = LogisticRegression(random_state=0, max_iter=60000).fit(X, y)

In [9]:
import numpy as np
r=[]
z=clf.intercept_ 

for x in X.columns.values:
    if x not in r:
        r.append(x)
print(r)
Model= pd.DataFrame(clf.coef_,columns=[r])
Model["Interception"]=z
Model
Model.to_excel('Coeficients.xlsx' )

In [8]:
test =pd.read_excel('Testing.xlsx')
test.drop(columns =['year','Unnamed: 0'], inplace = True)

y1=test['Promotion']
X1=test
X1.drop(columns =['Promotion'], inplace = True)

r1=list(X.columns.values)
r2=list(X1.columns.values)
r=list(set(r) - set(r2))
for x in r:
    X1[x]=0

In [20]:
import numpy as np

X1=X1.reindex(columns=r1) 
for x in r1:
    X1[x].fillna(0,inplace=True)
    
Test=clf.score(X1, y1)
Trainig=clf.score(X, y)
E=[]
E.append(Trainig)
E.append(Test)
Errors= pd.DataFrame(E,columns=["error"],index=["Training","Testing"])
Errors.to_excel('Errors.xlsx' )

             error
Training  0.877006
Testing   0.914823

In [26]:
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix

y_P=clf.predict(X) 
f1=f1_score(y, y_P, average='macro')
recal=recall_score(y, y_P, average='macro')
CM=confusion_matrix(y, y_P)

y_P=clf.predict(X1) 
f1_t=f1_score(y1, y_P, average='macro')
recal_t=recall_score(y1, y_P, average='macro')
CM_T=confusion_matrix(y1, y_P)

Va=[]
Va.append(recal)
Va.append(f1)
Va.append(recal_t)
Va.append(f1_t)

Stats= pd.DataFrame(Va,columns=["Value"],index=["Recall", "F1" ,"Recall Test", "F1 Test"])
Stats.to_excel('Stats.xlsx' )
Stats

                Value
Recall       0.500000
F1           0.477758
Recall Test  0.500000
F1 Test      0.467237